@white: #ffffff;
@dark-candy: #9F2100;
@light-candy: #BB4526;
@light-border-color: #F3F3F3;
@dark-border-color: #F0F0F0;
@header-text-color: #525252;
@banner-bg-color: #eaeae1;
@client-boxs-border-color: #f1f1f1;