@import "mixins.less";
@import "colors.less";
@import "dimensions.less";

/********* BODY LEVEL STLYES ***********/
body {
	backgroud-color: @white;
}

.container {
	margin: 0 auto;
	width: @page-width;
}

/********* TOP MENU ***********/
nav{
	&.top-menu {
		height: @top-menu-bar-height;
		padding-bottom: 3px;
		border-bottom: 3px solid @dark-border-color;
		background-image:url(images/bg.gif);
		.menu {
			height: 100%;
			margin: 0 auto;
			cursor: pointer;
			width: @page-width;
			background-repeat: no-repeat;
			background-position: right top;
			background-image:url(images/nav.jpg);
			&:hover {
				background-position: right bottom;
			}
		}
	}
}

/********* HEADER ***********/
header {
	nav {
		ul {
			.clearfix();
			border-bottom: 2px solid @light-border-color;
			>li {
				a { 
					color: @header-text-color;
				}
				line-height: 42px;
				display: inline-block;
				text-transform: uppercase;
				vertical-align: middle;
				padding: 0px 10px;
				&.to-left{
					float: left;
				}
				&.to-right{
					float: right;
				}
			}
		}
	}
}

/********* LOGO ***********/
#logo {
	>a {
	    background-image:url(images/ning-158-c.gif);
	    background-repeat: no-repeat;
	    background-position-x: -23px;
	    display:block;
	    width: 150px;
	    height: 58px;
	}
}

section{
	/********* BANNER INTRO ***********/
	&.intro{
		background-image:url(images/bg-introduction-full.gif);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-color: @banner-bg-color; 
		margin-bottom: 40px;
		width: 100%;
		height: 200px;
		position: relative;
		.ps {
			bottom: 10px;
			right: 10px;
			position: absolute;
		}
		h2 {
			font-size: 42px;
			padding: 35px 50px 0px 15px;
			&::first-letter{
				font-size: 50px;
			}
			span {
				&.imp{
					color: @dark-candy;
				}
			}
		}
	}
	/********* CONNTENT ***********/
	&.content{
		.clearfix();
		line-height: 1.4;
		margin-bottom: 130px;
		.description-block{
			width: 50%;
			float: left;
			h2 {
				font-size: 22px;
				margin-bottom: 5px;
				&::first-letter{
					font-size: 25px;
				}
			}
			p {
				font-size: 18px;
				.imp {
					color: @dark-candy;
				}
			}
		}
		.features-list{
			width: 50%;
			float: right;
			h2 {
				color: @dark-candy;
				font-size: 26px;
				&::first-letter{
					font-size: 30px;
				}
			}
			ul { 
				>li {
					a {
						color: @light-candy;
					}
				}
				padding-left: 35px;
				list-style-image: url('images/bullet.gif');
			}
		}
	}
}

/********* CLIENTS LIST ***********/
aside{
	&.clients-list{
		margin: 26px 0;
		h3 {
			color: @dark-candy;
			font-size: x-large;
			&::first-letter{
				font-weight: bold;
				font-size: xx-large;
			}
			margin-bottom: 15px;
		}
		ul {
			>li {
				display: inline-block;
				width: 190.5px;
				text-align: center;
				border: 2px solid @client-boxs-border-color;
			}
		}
	}
}

/********* FOOTER ***********/
footer {
	ul {
		border-top: 2px solid @dark-border-color;
		>li {
			> a {
				color:  @light-candy;
			}
			line-height: 47px;
			display: inline-block;
			padding: 0px 15px;
			text-decoration: underline;
		}
	}
}