

/********* BODY LEVEL STLYES ***********/
body {
  backgroud-color: #ffffff;
}
.container {
  margin: 0 auto;
  width: 790px;
}
/********* TOP MENU ***********/
nav.top-menu {
  height: 50px;
  padding-bottom: 3px;
  border-bottom: 3px solid #f0f0f0;
  background-image: url(images/bg.gif);
}
nav.top-menu .menu {
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  width: 790px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url(images/nav.jpg);
}
nav.top-menu .menu:hover {
  background-position: right bottom;
}
/********* HEADER ***********/
header nav ul {
  border-bottom: 2px solid #f3f3f3;
}
header nav ul:before,
header nav ul:after {
  content: " ";
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav ul > li {
  line-height: 42px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0px 10px;
}
header nav ul > li a {
  color: #525252;
}
header nav ul > li.to-left {
  float: left;
}
header nav ul > li.to-right {
  float: right;
}
/********* LOGO ***********/
#logo > a {
  background-image: url(images/ning-158-c.gif);
  background-repeat: no-repeat;
  background-position-x: -23px;
  display: block;
  width: 150px;
  height: 58px;
}
section {
  /********* BANNER INTRO ***********/
  /********* CONNTENT ***********/
}
section.intro {
  background-image: url(images/bg-introduction-full.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #eaeae1;
  margin-bottom: 40px;
  width: 100%;
  height: 200px;
  position: relative;
}
section.intro .ps {
  bottom: 10px;
  right: 10px;
  position: absolute;
}
section.intro h2 {
  font-size: 42px;
  padding: 35px 50px 0px 15px;
}
section.intro h2::first-letter {
  font-size: 50px;
}
section.intro h2 span.imp {
  color: #9f2100;
}
section.content {
  line-height: 1.4;
  margin-bottom: 130px;
}
section.content:before,
section.content:after {
  content: " ";
  display: table;
}
section.content:after {
  clear: both;
}
section.content .description-block {
  width: 50%;
  float: left;
}
section.content .description-block h2 {
  font-size: 22px;
  margin-bottom: 5px;
}
section.content .description-block h2::first-letter {
  font-size: 25px;
}
section.content .description-block p {
  font-size: 18px;
}
section.content .description-block p .imp {
  color: #9f2100;
}
section.content .features-list {
  width: 50%;
  float: right;
}
section.content .features-list h2 {
  color: #9f2100;
  font-size: 26px;
}
section.content .features-list h2::first-letter {
  font-size: 30px;
}
section.content .features-list ul {
  padding-left: 35px;
  list-style-image: url('images/bullet.gif');
}
section.content .features-list ul > li a {
  color: #bb4526;
}
/********* CLIENTS LIST ***********/
aside.clients-list {
  margin: 26px 0;
}
aside.clients-list h3 {
  color: #9f2100;
  font-size: x-large;
  margin-bottom: 15px;
}
aside.clients-list h3::first-letter {
  font-weight: bold;
  font-size: xx-large;
}
aside.clients-list ul > li {
  display: inline-block;
  width: 190.5px;
  text-align: center;
  border: 2px solid #f1f1f1;
}
/********* FOOTER ***********/
footer ul {
  border-top: 2px solid #f0f0f0;
}
footer ul > li {
  line-height: 47px;
  display: inline-block;
  padding: 0px 15px;
  text-decoration: underline;
}
footer ul > li > a {
  color: #bb4526;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* for links */
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
